.site-header {
    background-color: rgba(27, 27, 27, 0.904);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: rgb(218, 218, 218);
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

nav {
    margin-bottom: 2%;
}