* {
  font-family: cursive;
}

body {
  background-image: url("/images/annapurna-3968913_1920\ \(1\).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

form, .profile, .home {
  background-color: rgba(255, 255, 255, 0.479);
  width: 80%;
  margin: 0 auto;
  margin-top: 2%;
  border: solid;
  border-radius: 1rem;
  border-color: rgb(241, 179, 6);
  box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.712);
}

input.form-control {
  width: 50%;
  margin: 0 auto;
}

textarea.form-control {
  width: 50%;
  margin: 0 auto;
  resize: none;
  height: 20vh;
}

form label {
  display: block;
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.btn {
  width: 25%;
  margin: 0 auto;
  background-color: rgba(51, 51, 51, 0.842);
  color: white;
}

img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}